.collection{
    width: 100%;

    &__list{
        margin-top: 4rem;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1rem;
        font-size: 3rem;
    
        &--first{
            font-size: 5rem;
        }
    }
}

